<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/header %>
  </head>

  <body>
    <% include partials/navigation %>
    <div class="container p-4">
      <form method="POST" target="/new-entry" class="card card-body">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input
            name="titulo"
            type="text"
            class="form-control"
            placeholder="Ingrese titulo"
            autofocus
            required
          />
        </div>

        <div class="form-group">
          <label for="imagen">Imagenn</label>
          <input
            type="url"
            name="imagen"
            class="form-control"
            placeholder="http://website.com"
            required
          />
        </div>

        <div class="form-group">
          <label for="precio">Precio</label>
          <input
            name="precio"
            type="text"
            class="form-control"
            placeholder="Precio"
            autofocus
            required
          />
        </div>

        <div class="form-group">
          <label for="talla">Talla</label>
          <input
            name="talla"
            type="text"
            class="form-control"
            placeholder="Talla"
            autofocus
            required
          />
        </div>

        <div class="form-group">
          <label for="stock">Stock</label>
          <input
            name="stock"
            type="text"
            class="form-control"
            placeholder="Stock"
            autofocus
            required
          />
        </div>

        <div class="form-group">
          <label for="des">Des</label>
          <textarea class="form-control" name="des" rows="2" required>
          </textarea>
        </div>

        <div class="form-group">
          <input
            type="submit"
            value="Agregar Producto"
            class="btn btn-primary"
          />
        </div>
      </form>
    </div>

    <% include partials/footer%>
  </body>
</html>
